header(class='header')
  div(class='container')
    div(class='header__wrapper')
      a(href='#' class='header__logo logo')
      nav(class='header__menu')
        ul(class='header__list')
          - var menu = ["About", "Help", "Features", "Signup"]
            each item in menu 
              li(class='header__item')
                a=item
      button(class='header__button btn btn--white') Request Demo
